{% load static %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link disabled">{{ user.username }}
                <img src="{% static 'weather/images/settings.svg' %}" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
               onclick="document.getElementById('logout-form').submit()">
                Logout
                <img src="{% static 'weather/images/logout.svg' %}" alt="" class="ms-1">
            </a>
            <form id="logout-form" method="post" action="{% url 'users:logout' %}" style="display: none;">
                {% csrf_token %}
            </form>
        </li>
    </ul>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Searching" aria-label="Searching">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>


