# Виртуальная среда, переменные окружения
venvprod/
venv/
.env
*.env

# Файлы проекта PyCharm
.idea/
__pycache__

# Миграции Alembic


# Прочее
tasks.txt
*.log
/experiments
/logs
.ruff_cache
.mypy_cache
