{% extends 'base.html' %}
{% load static %}

{% block navbar_content %}
    {% include 'weather/includes/nav.html' %}
{% endblock %}

{% block content %}
    <h1 class="mb-4 mt-4 text-center fw-light" style="color: #002855">Weather Dashboard</h1>

    {% include 'weather/includes/warning_error.html' %}
    

    {% if locations_with_weather %}
        <div class="container">
            <div class="row g-4">
                {% for location in locations_with_weather %}
                    {% include 'weather/includes/location_card.html' %}

                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}