{% extends 'base.html' %}

{% block navbar_content %}
    {% include 'users/includes/nav_users.html' %}
{% endblock %}

{% block content %}

    <div class="container col-md-4 col-md-offset-4">
        <h2 class="mb-4 mt-4 fw-light" style="color: #002855">Registration to WeatherApp.</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="btn btn-outline-primary col-md-4 col-md-offset-4" type="submit">Register</button>
            </p>
        </form>
    </div>
{% endblock %}





